 {% extends "base.html" %}
 {% block title %}
 Home
 {% endblock %}
 
 {% block content %}
 
 <h1>Hello this is home page</h1>
 {% endblock %}
 
 
 
 
 
 
 
 
 
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h2>This is my first home page</h2> -->
    <!-- {% if name == "Tim" %}
        Hi Tim!
    {% else %}
        Not Tim
    {% endif %} -->

    <!-- {% for x in [1,2,3,4,5] %}
        {{x}}
    {% endfor %} -->



<!-- </body>
</html>  -->